/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: #eaeaea !important;
  margin: 0;
}

.component-background {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff !important;
}

.tasks-component-background {
  position: fixed;
  height: 100%;
  top: 3.2rem;
  bottom: 0;
  width: 100%;
  left: calc(100% - 315px);
  /*left: calc(100% - 280px);*/
  overflow-x: hidden;
  /*overflow-y: auto;*/

  /*padding-top: 0.5rem;*/
  /*padding-bottom: 4.0rem;*/
  /*padding-left: 0.3rem;*/
  /*padding-right: 0.3rem;*/

  /*background-color: #eaeaea !important;*/
  background-color: #1b1918 !important;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #c1c1c1;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
 Loader
*/

.loader {
  border: 8px solid #d0d0d0;
  border-radius: 50%;
  border-top: 8px solid #000000;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin-top: 3.0rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
 Forms
*/

.form-control {
  border-color: #a2a2a2;
}

.input-group-addon {
  border-color: #a2a2a2;
}

.sbar-show {
  width: 280px;
}

.sbar-hide {
  width: 0;
}

.tbar-show {
  width: 315px;
  padding-top: 0.5rem;
  padding-bottom: 4.0rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.tbar-hide {
  width: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.sbar-show-main {
  padding-left: 280px;
  /*margin-right: 5px;*/
}

.sbar-hide-main {
  padding-left: 0;
}

.tbar-show-main {
  overflow-y: auto;
  padding-right: 315px;
}

.tbar-hide-main {
  overflow-y: hidden;
}

#ex3::-webkit-scrollbar {
  width: 4px;
  background-color: #000000;
}

#ex3::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #d91015;
}

#ex4::-webkit-scrollbar {
  width: 4px;
  background-color: #000000;
}

#ex4::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #f9f6ff;
}

.ex5::-webkit-scrollbar {
  width: 4px;
  background-color: #acaab1;
}

.ex5::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #000000;
}
